extends layout

block content
	h1= title
	p Welcome to #{title}

	input.test(type='button', value='click me')

	script(src='/socket.io/socket.io.js')
	script(src='/javascripts/jquery.js')
	script(type='text/javascript')
		var socket = io.connect()
		var mouse_move_array = [];
		$('body').on('mousemove', function(e){
			if(mouse_move_array.length < 100){
				mouse_move_array.push({x:e.pageX,y:e.pageY});
			} else {
				socket.emit('mouse_movements', {data: mouse_move_array});
				console.log(mouse_move_array);
				mouse_move_array = [];
			}
		});
		